{% extends 'main_app/base.html' %}

{% block content %}
<div class="home-splash">
    <div class="row">
        <div class="col-7">
            <div class="home-splash-img">
                <img src="https://regularshop.s3.us-west-1.amazonaws.com/regular-team-bordered.png" class="img-fluid" />
            </div>
        </div>
        <div class="col-4 d-flex flex-column justify-content-center">
            <div>
                <p class="text-body">Watch now: <span class="text-body-secondary">>>Bikes n' Boards 2022<<< /span>
                </p>
                <p>Embarking on an oystery odyssey,a group of friends and chopper enthusiasts set their sights on the
                    enigmatic shores of the Pacific Northwest</p>
            </div>
            <div>
                <button type="button" class="btn btn-outline-dark">View More</button>
            </div>
        </div>
    </div>
</div>
<div class="home-video">
    <div style="position:relative; width:100%; height:0px; padding-bottom:56.250%">
        <iframe allow="fullscreen" allowfullscreen height="100%"
            src="https://streamable.com/e/glw5m1?loop=0&nocontrols=1" width="100%"
            style="border:none; width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;"></iframe>
    </div>
</div>
<div class="home-new">
    <div class="row">
        <div class="col-6 d-flex flex-column justify-content-center">
            <div class="new-products">
                <p class="text-body">Introducing<span class="text-body-secondary">>>The Regular Essentials<<< /span>
                </p>
                <p>Embarking on an oystery odyssey,a group of friends and chopper enthusiasts set their sights on the
                    enigmatic shores of the Pacific Northwest</p>
                <div>
                    <button type="button" class="btn btn-outline-dark">View More</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <img src="https://i.ibb.co/jzypQL3/shedrun-caps.jpg" class="img-fluid" />
        </div>
    </div>
    <row class="new-collections-row">
        <div class="new-collections">
            <div class="new-collections-heading">
                <h3>The Pretty Ordinary Collection</h3>
            </div>
            <div class="new=collections-content">
                <p>Tees, Pants, and Hoodies. Ya know, pretty ordinary stuff for everyone!</p>
            </div>
            <div>
                <button type="button" class="btn btn-light">View More</button>
            </div>
        </div>
    </row>
</div>
<div class="home-fit-guide">
    <div class="row">
        <div class="col-6">
            <div class="home-image-grid">
                <div class="home-grid-column">
                    <img src="https://via.placeholder.com/200x300" alt="Image 2">
                    <img src="https://via.placeholder.com/200x300" alt="Image 2">
                    <img src="https://via.placeholder.com/200x300" alt="Image 2">
                </div>
                <div class="home-grid-column">
                    <img src="https://via.placeholder.com/200x300" alt="Image 2">
                    <img src="https://via.placeholder.com/200x300" alt="Image 2">
                    <img src="https://via.placeholder.com/200x300" alt="Image 2">
                </div>
                <div class="home-grid-column">
                    <img src="https://via.placeholder.com/200x300" alt="Image 2">
                    <img src="https://via.placeholder.com/200x300" alt="Image 2">
                    <img src="https://via.placeholder.com/200x300" alt="Image 2">
                </div>
                <div class="home-grid-column">
                    <img src="https://via.placeholder.com/200x300" alt="Image 2">
                    <img src="https://via.placeholder.com/200x300" alt="Image 2">
                    <img src="https://via.placeholder.com/200x300" alt="Image 2">
                </div>
            </div>
        </div>
        <div class="col-6 d-flex flex-column justify-content-center">
            <div>
                <p class="text-body">Watch now: <span class="text-body-secondary">>>Bikes n' Boards 2022<<< /span>
                </p>
                <p>Embarking on an oystery odyssey,a group of friends and chopper enthusiasts set their sights on the
                    enigmatic shores of the Pacific Northwest</p>
            </div>
            <div>
                <button type="button" class="btn btn-outline-dark">View More</button>
            </div>
        </div>
    </div>
</div>

<div class="product-slick">
    <div class="product-item">
        <img class="home-product-image" src="https://via.placeholder.com/200x300" alt="...">
        <h3>Product Image</h3>
        <button>View More</button>
    </div>
    <div class="product-item">
        <img class="home-product-image" src="https://via.placeholder.com/200x300" alt="...">
        <h3>Product Image</h3>
        <button>View More</button>
    </div>
    <div class="product-item">
        <img class="home-product-image" src="https://via.placeholder.com/200x300" alt="...">
        <h3>Product Image</h3>
        <button>View More</button>
    </div>
    <div class="product-item">
        <img class="home-product-image" src="https://via.placeholder.com/200x300" alt="...">
        <h3>Product Image</h3>
        <button>View More</button>
    </div>
    <div class="product-item">
        <img class="home-product-image" src="https://via.placeholder.com/200x300" alt="...">
        <h3>Product Image</h3>
        <button>View More</button>
    </div>
    <div class="product-item">
        <img class="home-product-image" src="https://via.placeholder.com/200x300" alt="...">
        <h3>Product Image</h3>
        <button>View More</button>
    </div>
</div>
{% endblock %}