{% extends 'main_app/base.html' %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-5">
            <span class="breadcumb-help-text">You are here:</span>
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'category' %}">Category Name</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'product_detail' product.id %}">
                    {{product.product_name }}
                </a></li>
        </ol>
    </nav>
</div>
<div class="row row-cols-1 row-cols-sm-2">
    <div class="col mb-5">
        <div class="product-detail-slider">
            <div class="image-slick">
                {% for image in product.productimage_set.all %}
                <div class="image-item">
                    <img class="" src="{{ image.image_url}}" alt="...">
                </div>
                {% empty %}
                <p class="text-warning-emphasis">No Photos Available</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col mb-5">
        <div class="product-detail-header">
            <h2>{{ product.product_name }}</h2>
            <p>${{ product.price }}</p>
        </div>
        <form action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
            {{ form.as_p}}
            <div class="d-grid gap-2 col-6 product-detail-buttons mb-4">
                <input type="submit" class="btn btn-success" value="Add to Cart" />
                <button type="button" class="btn btn-warning">What's my Size?</button>
            </div>
        </form>
        <p>
            {{ product.product_fabrics }}
        </p>
        <p>
            {{ product.product_description }}
        </p>
    </div>
</div>
<!-- <form action="{% url 'add_photo' product.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" value="Upload Photo">
</form> -->
<hr class="mb-5">
<div class="container">



    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 product-more-info">
            <div class="col">
                <h5>Features</h5>
                <ul>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, adipisci!</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, adipisci!</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, adipisci!</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, adipisci!</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, adipisci!</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, adipisci!</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, adipisci!</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, adipisci!</li>
                </ul>
            </div>
            <div class="col">
                <h5>Fabric</h5>
                <ul>
                    <li>{{ product.product_fabrics }}</li>
                </ul>
                <h5>Materials</h5>
                <ul>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, adipisci!</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, adipisci!</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, adipisci!</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="product-detail-video">
    <div style="position:relative; width:100%; height:0px; padding-bottom:56.250%">
        <iframe allow="fullscreen" allowfullscreen height="100%"
            src="https://streamable.com/e/glw5m1?loop=0&nocontrols=1" width="100%"
            style="border:none; width:85%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;"></iframe>
    </div>
</div>
<div class="container mb-5">
    <h3 class="text-start">Specifications</h3>
    <hr>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <img src="https://via.placeholder.com/300x300" width="90px" height="90px" alt="">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p>
                        Specifications description
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <img src="https://via.placeholder.com/300x300" width="90px" height="90px" alt="">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p>
                        Specifications description
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <img src="https://via.placeholder.com/300x300" width="90px" height="90px" alt="">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p>
                        Specifications description
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <img src="https://via.placeholder.com/300x300" width="90px" height="90px" alt="">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p>
                        Specifications description
                    </p>
                </div>
            </div>
            <hr>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <img src="https://via.placeholder.com/300x300" width="90px" height="90px" alt="">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p>
                        Specifications description
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-2">
                    <img src="https://via.placeholder.com/300x300" width="90px" height="90px" alt="">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <p>
                        Specifications description
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <h3 class="text-start">Size and Fit</h3>
    <hr>
    <div class="fit-guide">
        <div class="fit-guide-left">
            <img class="" src="https://via.placeholder.com/200x300" alt="...">
            <img class="" src="https://via.placeholder.com/200x300" alt="...">
            <img class="" src="https://via.placeholder.com/200x300" alt="...">
            <button type="button" class="btn btn-dark">Regular Fit</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, distinctio.</p>
        </div>
        <div class="fit-guide-right">
            <img class="" src="https://via.placeholder.com/200x300" alt="...">
            <img class="" src="https://via.placeholder.com/200x300" alt="...">
            <img class="" src="https://via.placeholder.com/200x300" alt="...">
            <button type="button" class="btn btn-dark">Oversized Fit</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, distinctio.</p>
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ex esse tempora a tempore neque doloremque quisquam
        sunt ipsum nisi.</p>
</div>
<div class="container mb-5">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>XS"</th>
                <th>cm</th>
                <th>S"</th>
                <th>cm</th>
                <th>M"</th>
                <th>cm</th>
                <th>L"</th>
                <th>cm</th>
                <th>XL"</th>
                <th>cm</th>
                <th>XXL"</th>
                <th>cm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CHEST</td>
                <td>34-36</td>
                <td>86-92</td>
                <td>36-38</td>
                <td>92-97</td>
                <td>38-40</td>
                <td>97-102</td>
                <td>40-42</td>
                <td>102-107</td>
                <td>42-44</td>
                <td>107-112</td>
                <td>44-46</td>
                <td>112-117</td>
            </tr>
            <tr>
                <td>WAIST</td>
                <td>28-30</td>
                <td>71-76</td>
                <td>30-32</td>
                <td>76-81</td>
                <td>32-34</td>
                <td>81-86</td>
                <td>34-36</td>
                <td>86-92</td>
                <td>36-38</td>
                <td>92-97</td>
                <td>38-40</td>
                <td>97-102</td>
            </tr>
        </tbody>
    </table>
</div>


{% endblock %}