body {
    min-height: 100vh;
}

.navbar {
    font-family: "Unica One", sans-serif;
}

.sharpclose {
    width: 1.5em;
    opacity: 0.7;
}

.my-cart-icon {
    width: 1.5em;
    height: 1.5em;
}

.nav-item {
    button {
        font-size: 1.5em;
    }

    button.btn.dropdown-toggle.show {
        border: none;
    }

    ul.dropdown-menu {
        font-size: 1.5em;
    }

    ul.dropdown-menu.show {
        border: none;
    }
}


.base-footer {

    .row {
        height: 100px;
    }

    .col-2,
    .col-8 {
        display: flex;
        align-items: center;
    }

    .col-8 {
        justify-content: center;
    }
}

.base-footer-nav {
    display: flex;
    margin: 0px;
    list-style: none;
    padding: 0px;

    .nav-item {
        margin: 0px 8px;
    }
}

main {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 20px;
}

.home {
    button {
        font-family: "Unica One", sans-serif;
        font-weight: 600;
        font-size: 20px;
    }
}

.home-splash-content {
    height: 100%;
    min-height: 50vh;
    padding: 10% 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gradient-banner {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f3f3f+20,000000+50,3f3f3f+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100 */
    background: linear-gradient(to bottom,  rgba(63,63,63,0) 0%,rgba(63,63,63,0.8) 15%,rgba(63,63,63,1) 19%,rgba(63,63,63,1) 20%,rgba(0,0,0,1) 50%,rgba(63,63,63,1) 80%,rgba(63,63,63,1) 81%,rgba(63,63,63,0.8) 85%,rgba(63,63,63,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.new-products {
    height: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10% 5%;
}


.new-collections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    padding-left: 10%;
    background: url("https://i.ibb.co/Fh4wSj5/regularcollectionsbg.png") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    h3 {
        display: inline-block;
        background: #f4f4f4;
    }

    p {
        background-color: #f4f4f4;
        width: max-content;
        max-width: 80vw;
        
    }
}

.home-image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 -10px;

    .home-grid-column {
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            margin-bottom: 15px;

            &:hover {
                transform: scale(1.1);
            }
        }

        &:nth-child(1),
        &:nth-child(3) {
            img:first-child {
                margin-top: -50%;
            }

            img:last-child {
                margin-bottom: 0px;
            }
        }

        &:nth-child(2),
        &:nth-child(4) {
            img:last-child {
                margin-bottom: -50%;
            }
        }
    }
}

.home-guide-content {
    height: 100%;
    min-height: 50vh;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.product-slick {
    
    .slick-list {
        overflow: visible;
        
        div {
            width: 100vw;
        }
    }


    
    .product-item {

        img {
            width: 100%;
        }

        h2 {
            margin: 20px 0;
        }
    }

}

// Shop Category
.category {
    button {
        font-family: "Unica One", sans-serif;
        font-weight: 600;
        font-size: 20px;
    }
}

.breadcumb-help-text {
    margin-right: 8px
}

.product-display {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        text-decoration: none;
        color: #171717;
        font-size: 20px;
        font-weight: 600;
    }

    .product-display-image {
        position: relative;
        max-width: 375px;
        height: 100%;

        img {
            width: 100%;
            height: 540px;
            object-fit: contain;
        }


        .product-special-tag {
            position: absolute;
            left: -10px;
            top: 10px;
            background: #171717;

            a {
                color: #f7f7f7;

            }

            p {
                margin: 3px;
            }
        }
    }

    .product-display-button {

        a {
            color: #f7f7f7;
        }
    }

    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    p {
        margin: 0px;
    }
}


// Product Details


.image-slick {
    margin-top: 20px;

    .slick-list.draggable {
        padding-left: 100px;

    }

    .image-item {
        max-width: 600px !important;
        margin: 0px 12px;

        img {
            width: 100%;
            max-height: 850px;
            object-fit: cover;
        }
    }
}

.product-detail-header {
    font-family: "Unica One", sans-serif;
    color: rgb(98, 114, 131);
    
    h2 {
        font-size: 2.5em;
        font-weight: 700;
    }

    p {
        font-size: 1.6em;
        font-weight: 700;
    }

}

.product-detail-form {
    text-align: center;
}

.product-detail-buttons {
    input {
        font-size: 20px;
        font-weight: 600;
        width: 80%;
        margin-bottom: 10px;
    }

    button {
        font-size: 20px;
        font-weight: 600;
        width: 80%;
    }
}

.product-more-info {
    h5 {
        font-weight: 900;
        font-size: 1.6em;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 8px;
        }
    }

}

.product-detail-features {
    ul > li {
        margin-bottom: 0;
    }
}

.fit-guide {
    width: 100%;
    display: flex;
    justify-content: center;

    .fit-guide-left {
        background-color: firebrick;
        width: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fit-guide-right {
        background-color: seagreen;
        width: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// Your Cart 

.cart-table-description {}


// Team Index
.team-member-grid {
    .row>* {
        padding-left: 0px;
        padding-right: 0px;
    }

    .team-member-box {
        position: relative;

        img {
            width: 100%;
        }

        .team-member-name {
            position: absolute;
            bottom: 0;
            width: 100%
        }
    }
}

// Team Member Details

.member-highlight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    padding-left: 10%;
    background: url("https://i.ibb.co/Fh4wSj5/regularcollectionsbg.png") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    h3 {
        display: inline-block;
        background: #f4f4f4;
    }
}

.member-sidebyside-img {

    .row>* {
        padding-left: 0px;
        padding-right: 0px;
    }

    img {
        width: 100%;
    }
}

.member-slick {
    margin-top: 20px;
    margin-left: 80px;

    .member-item {
        width: 100%;
        max-height: 540px;
    }

    img {
        width: 100%;
        height: 540px;
        object-fit: cover;
    }
}


@import '../../bootstrap/scss/bootstrap.scss';